<!DOCTYPE html><html lang="en">
<head><title>nodeFeed</title></head>
<link rel="stylesheet" type="text/css" href="/main.css">
<link rel="stylesheet" type="text/css" href="/jquery.stopwatch.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/jquery_plugins/jqplot/jquery.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/jquery.stopwatch.js"></script>
<script type="text/javascript" src="/client.js"></script>
<script type="text/javascript" src="/jquery_plugins/jqplot/jquery.jqplot.js"></script>
<script type="text/javascript" src="/jquery_plugins/jqplot/plugins/jqplot.pieRenderer.js"></script>
<body>
<div id="content">
<div id="categories"><ul id="category_list"></ul></div>
<div id="feed"><ul id="feed_list"></ul></div></div>
<div id="footer">
</div>
<div id="chart1" style="height:300px; width:500px;"></div>
<table>
<tr>
<td><div id="clock1"></div></td>
<td><div id="clock2"></div></td>
<td><div id="clock3"></div></td>
</tr>
</table>
</body></html>
